<main class="container">
  @if (isLoading) {
    <mat-progress-bar mode="query"></mat-progress-bar>
  }
  @if (error) {
    {{ error }}
  }

  @if (!isLoading && !error && todoItems) {
    <ol class="list-group list-group-flush">
      @for (todoItem of todoItems; track todoItem.id) {
        <li class="list-group-item d-flex justify-content-between align-items-start p-2">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ todoItem.title }}</div>
            {{ todoItem.description }}
            <div style="font-size: 85%"><small><span class="text-sm-center" placement="bottom"
                                                     ngbTooltip="Date for Todo"><i
              class="bi bi-calendar me-1"></i> {{ todoItem.dateTime }}</span></small></div>
          </div>
          <button class="btn text-bg-primary rounded-pill" placement="top" ngbTooltip="Edit Todo">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <button class="btn text-bg-primary rounded-pill" placement="top" ngbTooltip="Delete Todo">
            <i class="bi bi-trash"></i>
          </button>
        </li>
      }
    </ol>
  }

</main>
