/*
Makes the main Component tack up the whole Area.
This is to help force down footer down to the bottom of the page
*/
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
Makes Component Pages to take the whole space up.
This is to help force down footer down to the bottom of the page
*/
div.main {
  flex: 1 0 auto;

}

