<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 ms-md-5 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Thinking/Big.</span>
  </div>

  <ul class="nav col-md-4 me-md-5 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a target="_blank" rel="noopener" href="https://twitter.com/ThinkingBigInc" title="Twitter/X">
        <i class="bi bi-twitter-x" aria-hidden="true"></i>
      </a>
    </li>
    <li class="ms-3">
      <a target="_blank" rel="noopener" href="https://www.facebook.com/thinkingbig.net/" title="Facebook">
        <i class="bi bi-facebook" aria-hidden="true"></i>
      </a>
    </li>
    <li class="ms-3">
      <a target="_blank" rel="noopener" href="https://www.linkedin.com/company/thinking-big-inc" title="Linkedin">
        <i class="bi bi-linkedin" aria-hidden="true"></i>
      </a>
    </li>
    <li class="ms-3">
      <a target="_blank" rel="noopener" href="https://www.instagram.com/wearethinkingbig/">
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li class="ms-3">
      <a target="_blank" rel="noopener" href="https://medium.com/thinkingbig" title="medium">
        <i class="bi bi-medium"></i>
      </a>
    </li>
    <li class="ms-3">
      <a href="mailto:hello@thinkingbig.net" title="Email">
        <i class="fa-solid fa-envelope"></i>
      </a>
    </li>
  </ul>
</footer>

