<div class="dialog">
  <h2 mat-dialog-title>{{ data.dialogTitle }}</h2>
  <mat-dialog-content>
    <div class="form-floating mb-3">
      <input class="form-control"  id="title" type="text" placeholder="name@example.com" [(ngModel)]="data.title" >
      <label for="title">Title</label>
    </div>
    <div class="form-floating">
      <input class="form-control" id="description" type="text"  placeholder="" [(ngModel)]="data.description">
      <label for="description">Description</label>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="dialogFooter">
    <button class="dialogForceBtnRight" color="primary" mat-button (click)="onNoClick()">Cancel</button>
    <button class="dialogFootBtn" color="primary" mat-button (click)="onSubmit()" cdkFocusInitial>Submit</button>
  </mat-dialog-actions>
</div>
