/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*Default Settings as wells as Light Mode css*/
:root,
[data-bs-theme=light] {
  --bs-primary: #6610f2;
  --bs-primary-rgb: 102, 16, 242;
  --bs-primary-bg-subtle: #c29ffa;
  --bs-primary-border-subtle: #8540f5;
}



.bg-primary {
  background-image: linear-gradient(to bottom right, var(--bs-primary), var(--bs-primary-border-subtle), var(--bs-primary-bg-subtle));
}

